<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.comar.admin.homestroragecp" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.usb.accessory" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />
        <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeOverlay.AppCompat.ActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- Allows your application to be notified of an attached USB accessory -->
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />

            </intent-filter>

            <!--
            External XML resources file declares identifying information about the accessory that
			you want detect
            -->
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <activity
            android:name=".Activity_ManualMov"
            android:label="@string/app_name"
            android:theme="@style/ThemeOverlay.AppCompat.ActionBar" >
        </activity>

        <service
            android:name="it.comar.arduino.service.AdkService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".share.LoadImageFromIntentActivity"
            android:label="@string/title_activity_load_image_from_intent"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <!-- per far comparire l'applicazione in elenchi tipo "share" della galleria -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- il tipo mime dei file che può ricevere l'applicazione. */* per ruscare su tutto -->
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
